<!DOCTYPE html>

<html>

<%- include(`./partials/head.ejs`)%>

  <body>
    <a href="/balls">Home</a>

    <form action="/balls/<%=ball._id%>?_method=PUT" method="POST">
      <label>
        <input class="inputForm" type="text" name="title" value="" /><br />
      </label>
      <label>
        <textarea class="inputForm" name="description" value="<%=ball.description%>"></textarea>
      </label>
      <label>
        <input class="inputForm" type="text" name="origin" value="<%=ball.origin%>" /><br />
      </label>
      <label>
        <input class="inputForm" type="text" name="price" value="<%=ball.price%>" /><br />
      </label>
      <label>
        <input class="inputForm" type="text" name="inStock" value="<%=ball.inStock%>" /><br />
      </label>
      <input type="submit" name="" value="Submit changes">
    </form>
    <script src="" async defer></script>
  </body>

</html>