<!DOCTYPE html>

<html>

<%- include(`./partials/head.ejs`)%>

  <body>

    <h1>Ball Inventory Manager</h1>
    <a href="/products/new">New product</a>

    <div class="container">
      <%products.forEach(function(ball) { %>
        <a href="/products/<%=ball._id%>">
          <h2>
            <%=ball.title%>
          </h2>
        </a>
        <div class="imgDiv">
          <a href="/products/<%=ball._id%>"><img src="<%=ball.img%>"></a>

        </div>

        <p>
          In stock: <%=ball.inStock%>
        </p>

        <p>
          Price:$<%=ball.price%>
        </p>
        <% })%>
    </div>



  </body>

</html>