<!DOCTYPE html>

<html>

<%- include(`./partials/head.ejs`)%>

  <body>
    <header>
      <div class="title">
        <a href="/products">Home</a>
      </div>
      <div>
        <a href="/products/<%=ball._id%>/edit"><label>Edit
          </label>
        </a>
      </div>
      <div>
        <form action="/products/<%=ball._id%>?_method=DELETE" method="POST">
          <label>
            <input type="submit" value="DELETE"> </label>
        </form>
      </div>

    </header>
    <div class="container">
      <div class="flex">
        <div class="pgrid">
          <div class="cgrid">
            <div id="showTitle">
              <%=ball.title%>
            </div>
            <div>
              Description <%=ball.description%>
            </div>
            <div>
              Made in <%=ball.madeIn%>
            </div>
            <div>
              In stock: <%=ball.inStock%>
            </div>
            <div>
              Price: $<%=ball.price%>
            </div>
          </div>
        </div>
        <div class="imgDiv">
          <img class="showImg" src="<%=ball.img%>" width="250px" height="200px">
          <form action="/products/<%=ball._id%>/buy?_method=PUT" method="POST">
            <!-- Got successful -1 but didn't get to add a condition to remove ability to buy if inStock = 0 -->
            <input class="inputForm" type="hidden" name="InStock" value="<%=ball.inStock%>" /><br />
            <input type="submit" name="" value="BUY">
          </form>
        </div>
      </div>
    </div>
    </div>
  </body>

</html>