<!DOCTYPE html>

<html>

<%- include(`./partials/head.ejs`)%>

  <body>
    <a href="/products">Home</a>
    <form action="/products/<%=ball._id%>?_method=DELETE" method="POST">
      <label>
        <input type="submit" value="DELETE"> </label>
    </form>
    <a href="/products/<%=ball._id%>/edit"><label>Edit
      </label>
    </a>
    <h2 id="showTitle">
      <%=ball.title%>
    </h2>
    <h5>
      Description <%=ball.description%>
    </h5>
    <h5>
      Made in <%=ball.madeIn%>
    </h5>
    <h5>
      In stock: <%=ball.inStock%>
    </h5>
    <h5>
      Price: $<%=ball.price%>
    </h5>
    <div class="imgDiv">
      <img class="showImg" src="<%=ball.img%>" width="250px" height="200px">
    </div>
    <form action="/products/<%=ball._id%>/buy?_method=PUT" method="POST">
      <input class="inputForm" type="hidden" name="InStock" value="<%=ball.inStock%>" /><br />
      </label>
      <input type="submit" name="" value="BUY">
    </form>


    </div>



    </script>
  </body>

</html>