<!DOCTYPE html>

<html>

<%- include(`./partials/head.ejs`)%>

  <body>
    <a href="/balls">Home</a>
    <form action="/balls/<%=ball._id%>?_method=DELETE" method="POST">
      <label>
        <input type="submit" value="DELETE"> </label>
    </form>
    <a href="">
      <div id="buy-btn">Buy
      </div>
    </a>
    <a href="/balls/<%=ball._id%>/edit"><label>Edit

      </label>
    </a>
    <h2>
      <%=ball.title%>
    </h2>
    <h5>
      Made in <%=ball.origin%>
    </h5>
    <h5>
      In stock: <%=ball.inStock%>
    </h5>
    <h5>
      Price: $<%=ball.price%>
    </h5>
    <div class="imgDiv">
      <img class="showImg" src="<%=ball.img%>" width="250px" height="200px">
    </div>
    </div>



    </script>
  </body>

</html>